@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/font-face";
@import "compass/css3/opacity";
@import "animation";
@import "compass/css3/transform";

@font-face {
  font-family: 'Exo 2';
  src: url("fonts/Exo2-Thin.ttf");
}

$bodyFont : 'Exo 2';

$blue : #0073db;
$darkBlue : #0031cf;
$purple : #3900b5;
$fuschia : #cf00b1;
$red : #d00004;
$orange : #c85800;
$yellow : #d8af00;

@keyframes playing {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(360deg);
  }
}

/* Space out content a bit */
html,
body {
  margin:0;
  font-family: $bodyFont;
  font-size: 20px;
  color: rgba(255,255,255,1);
  height: 100%;
  background-size: 100%;
  background-image: url(../images/appBackground.jpg);
}

div,
button,
span {
  @include box-sizing(border-box);
}

.container {
  height: 100%;
  position: relative;
  z-index: 10;
}

#editor {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  display: none;
  padding: 20px 10px 10px 10px;
}

.input {
  @include box-sizing(border-box);
  padding: 10px;
  font-size: 26px;
  font-family: $bodyFont;
  text-transform: uppercase;
  width: 100%;
  
  &.editor {
    margin-bottom: 10px;
  }
}

.button {
  padding: 10px;
  border-radius: 10px;
  @include box-sizing(border-box);
  text-align: center;
  font-family: $bodyFont;
  text-transform: uppercase;
  font-size: 32px;

  &.editor {
    background-size: 100%;
    background-image: url(../images/appBackground.jpg);
    color: rgba(255,255,255,1);
  }
}

.add-timer-button {
  position: absolute;
  right: 10px;
  top: 42px;
  background: url(../images/add-alarmclock.svg) transparent no-repeat;
  background-size: 36px, 36px;
  width: 36px;
  height: 36px;
  border: 0;
  z-index: 18;
}
.divider {
  height: 1px;
  background-color: rgba(255,255,255,1);
  margin: 0 0 20px 0;
  @include box-sizing(border-box);
}

.app-title {
  font-size: 26px;
  font-family: $bodyFont;
  text-transform: uppercase;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 16;
  top: 22px;
  text-align: center;
  color: rgba(255,255,255,1);
}

.header {
  position: relative;
  height: 100px;
  z-index: 14;
  background-size: 100%;
  background-image: url(../images/appBackground.jpg);
  @include filter(blur(5px));
}

.name {
  color: rgba(255,255,255,1);
  display: block;
  text-align: center;
  margin:0 30px 0 60px;
  padding-top:4px;
  text-transform: uppercase;
  font-family: $bodyFont;
  font-size: 20px;
  @include box-shadow(white, 0 0 1px);
  @include box-sizing(border-box);
}
.time {
  color: rgba(255,255,255,1);
  display: block;
  font-size: 50px;
  font-family: $bodyFont;
  text-transform: uppercase;
  text-align: center;
  margin:0 30px 0 60px;
  @include box-shadow(white, 0 0 1px);
  @include box-sizing(border-box);
}

.timer {
  padding: 12px;
  display: block;
  margin: 0;
  width: 100%;
  position: relative;

  .button-timer {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    border: 0;
    padding: 0;

    width: 50px;
    height: 50px;
    background-color: transparent;

    &:before {
      content : " ";
      background: url(../images/play-button.svg) no-repeat;
      background-size: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    &.pause {

      &:before {
        content : " ";
        background: url(../images/pause-button.svg) no-repeat;
        background-size: 100%;
        z-index: 11;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      &:after {
        content : " ";
        background: url(../images/rotating-circle.svg) no-repeat;
        background-size: 100%;
        height: 100%;
        z-index: 10;
        width: 100%;
        position: absolute;
        @include animation(playing 1.5s infinite linear);
      }
    }
  }
  .button-delete {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 0;
    font-weight: bold;
    padding: 0;
    background-color: transparent;
    &:before {
      content : " ";
      background: url(../images/delete-button.svg) no-repeat;
      background-size: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
.footer-container {
  position: relative;
  @include box-sizing(border-box);
  padding: 10px;

  .reset-button {
    position: absolute;
    border-radius: 10px;
    font-size: 20px;
    width: 40%;
    text-align: center;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid rgba(255,255,255,1);
    @include box-sizing(border-box);
  }
  .total-time {
    position: absolute;
    right: 10px;
    padding: 10px;
    display: inline-block;
    text-align: right;
  }
}



