@font-face {
  font-family: 'Exo 2';
  src: url("fonts/Exo2-Thin.ttf");
}

@keyframes playing {
  /* line 24, main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 27, main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Space out content a bit */
/* line 34, main.scss */
html,
body {
  margin: 0;
  font-family: "Exo 2";
  font-size: 20px;
  color: white;
  height: 100%;
  background-size: 100%;
  background-image: url(../images/appBackground.jpg);
}

/* line 46, main.scss */
div,
button,
span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 50, main.scss */
.container {
  height: 100%;
  position: relative;
  z-index: 10;
}

/* line 56, main.scss */
#editor {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  display: none;
  padding: 20px 10px 10px 10px;
}

/* line 68, main.scss */
.input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 26px;
  font-family: "Exo 2";
  text-transform: uppercase;
  width: 100%;
}
/* line 76, main.scss */
.input.editor {
  margin-bottom: 10px;
}

/* line 81, main.scss */
.button {
  padding: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: "Exo 2";
  text-transform: uppercase;
  font-size: 32px;
}
/* line 90, main.scss */
.button.editor {
  background-size: 100%;
  background-image: url(../images/appBackground.jpg);
  color: white;
}

/* line 97, main.scss */
.add-timer-button {
  position: absolute;
  right: 10px;
  top: 42px;
  background: url(../images/add-alarmclock.svg) transparent no-repeat;
  background-size: 36px, 36px;
  width: 36px;
  height: 36px;
  border: 0;
  z-index: 18;
}

/* line 108, main.scss */
.divider {
  height: 1px;
  background-color: white;
  margin: 0 0 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 115, main.scss */
.app-title {
  font-family: "Exo 2";
  text-transform: uppercase;
  font-size: 28px;
  font-weight: normal;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 16;
  top: 22px;
  text-align: center;
  color: white;
}

/* line 129, main.scss */
.header {
  position: relative;
  height: 100px;
  z-index: 14;
  background-size: 100%;
  background-image: url(../images/appBackground.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

/* line 138, main.scss */
.name {
  color: white;
  display: block;
  text-align: center;
  margin: 0 30px 0 60px;
  padding-top: 4px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Exo 2";
  font-size: 20px;
  -webkit-box-shadow: white, 0 0 1px;
  -moz-box-shadow: white, 0 0 1px;
  box-shadow: white, 0 0 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 151, main.scss */
.time {
  color: white;
  display: block;
  font-size: 50px;
  font-family: "Exo 2";
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0 30px 0 60px;
  -webkit-box-shadow: white, 0 0 1px;
  -moz-box-shadow: white, 0 0 1px;
  box-shadow: white, 0 0 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 164, main.scss */
.timer {
  padding: 12px;
  display: block;
  margin: 0;
  width: 100%;
  position: relative;
}
/* line 171, main.scss */
.timer .button-timer {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -25px;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
}
/* line 183, main.scss */
.timer .button-timer:before {
  content: " ";
  background: url(../images/play-button.svg) no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 193, main.scss */
.timer .button-timer.pause:before {
  content: " ";
  background: url(../images/pause-button.svg) no-repeat;
  background-size: 100%;
  z-index: 11;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 202, main.scss */
.timer .button-timer.pause:after {
  content: " ";
  background: url(../images/rotating-circle.svg) no-repeat;
  background-size: 100%;
  height: 100%;
  z-index: 10;
  width: 100%;
  position: absolute;
  -webkit-animation: playing 1.5s infinite linear;
  -moz-animation: playing 1.5s infinite linear;
  -ms-animation: playing 1.5s infinite linear;
  -o-animation: playing 1.5s infinite linear;
  animation: playing 1.5s infinite linear;
}
/* line 214, main.scss */
.timer .button-delete {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 0;
  font-weight: bold;
  padding: 0;
  background-color: transparent;
}
/* line 225, main.scss */
.timer .button-delete:before {
  content: " ";
  background: url(../images/delete-button.svg) no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 235, main.scss */
.footer-container {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
/* line 240, main.scss */
.footer-container .reset-button {
  position: absolute;
  border-radius: 10px;
  font-size: 20px;
  width: 40%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 252, main.scss */
.footer-container .total-time {
  position: absolute;
  right: 10px;
  padding: 10px;
  width: 60%;
  text-align: right;
}
