<h1 class="app-title">Timey Wimey</h1>
<div class="add-timer-button" ng-click="addTimer()"></div>
<div class="header">
</div>
<div class="divider"></div>
<div class="timer" ng-repeat="timer in timers">
  <div class="button-timer" ng-class="{pause:timer.doc.counting}" ng-click="toggleTimeCounter(timer)"></div>
  <h2 class="time" ng-click="setEditObject(timer.doc)">
  {{timer.doc.time.minutes | numberFilter}}:{{timer.doc.time.seconds | numberFilter}}</h2>
  <h2 class="name" ng-click="setEditObject(timer.doc)">{{timer.doc.name}}</h2>
  <div class="button-delete" ng-class="" ng-click="deleteTimer(timer)"></div>
</div>
<div class="footer-container">
  <div class="reset-button" ng-click="clearData()">Reset</div>
  <div class="total-time">
    Total time: {{totalTimer.minutes | numberFilter}}:{{totalTimer.seconds | numberFilter}}
  </div>
</div>
<div id="editor">
  <input class="input editor" placeholder="Name your timer" ng-model="editObject.name">
  <div class="button editor" ng-click="closeEditor()">SAVE</div>
</div>